# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=challenge_db
POSTGRES_USER=challenge
POSTGRES_PASSWORD=challenge_2024

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de Segurança
JWT_SECRET=your-secret-key-here
API_RATE_LIMIT=100
